body {
    padding-left: 20px;
}

ul.sayac {
    margin: 0px;
    padding: 0px;
    counter-reset: sayac1;
    list-style-type: none;
    list-style-position:inside;
}

ul li {
    counter-increment: sayac1 2;
}

ul li::before {
    content: counter(sayac1) "-->";
}

ol{
    margin: 0px;
    padding: 0px;
    list-style-type:none;
    list-style-position: inside;
    counter-reset: sayac2;
    
}

ol.list {
    margin-left: 20px;
    list-style-type:none;
    list-style-position: outside !important;
}

.orderedList li  {
    counter-increment: sayac2 4;
}

ol.orderedList li::before {
    content: counters(sayac2, ".")  " -) ";
}

.articles {
    counter-reset: articleCounter;
}


.articles article {
    counter-increment: articleCounter;
}

.articles article h3::before {
    content: counter(articleCounter)"-";
}

ol.list {
    list-style-position: outside !important;
}