@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Montserrat&family=Oleo+Script:wght@700&family=Open+Sans:wght@300;400&family=Poppins:wght@300;400;500;600;700&family=Titillium+Web:ital,wght@1,300&display=swap');

:root {
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family:'Poppins' sans-serif;

}

* {
    margin: 0px;
    padding: 0px;
    outline:none;
    text-decoration: none;
    box-sizing: border-box;
}

::before, ::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.aside {
    left:0px;
    top:0px;
    width: 270px;
    height: 100vh;
    z-index:10;
    background:#ddd;
    position: fixed;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--bg-black-50);
}

.section {
    min-height: 100vh;
    z-index: 0px;
    display: block;
    opacity: 1;
    padding: 0px 30px;
}

.hidden {
    display: none !important;
}

.main-content {
    padding-left:270px;
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    max-width:1100px;
    width: 100%;
    margin: auto;
}

.section .container {
    padding-top:60px;
    padding-bottom:70px;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title h2::before {
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left:0
}

.section-title h2::after {
    content: '';
    height: 4px;
    width: 25px;
    position: absolute;
    top: 100%;
    margin-top: 8px;
    z-index: 3;
    left: 0px;
    background-color: var(--skin-color);

}

.row {
    display: flex;
    flex-wrap:wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.btn {
    font-size: 16px;
    font-weight: 500px;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    background-color: var(--skin-color);
    transition: all 0.5s ease;
    border: none;
}

.btn:hover {
    transform: scale(1.05);
}

.aside .logo {
    position: absolute;
    top:50px;
    text-transform: capitalize;
    font-size: 30px;
}

.aside .logo a {
    color:var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    letter-spacing:5px;
    font-size:30px;
    position:relative;
}

.aside .logo a span {
    font-family: 'Clicker Script', cursive;
    font-size: 60px;
}

.aside .logo a:after {
    content: " ";
    border-top:5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    width: 10px;
    height: 10px;
    position: absolute;
    top:0;
    right:0;
}

.aside .logo a:before {
    content: " ";
    border-bottom:5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0;
    left:0px
}

.aside .nav {
    margin-top: 50px;
}

.aside .nav li {
    margin-bottom: 20px;
    display: block;
}

.aside .nav li a {
    font-size:16px;
    font-weight: 600px;
    display: block;
    color:var(--text-black-900);
    border-bottom:1px solid var(--bg-black-50);
    padding: 5px 15px;
}

.aside .nav li  a.active {
    color:var(--skin-color)
}

.aside .nav li a i {
    margin-right: 15px;
}

.aside .nav-togler {
    height: 50px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    background-color: var(--bg-black-100);
    left:300px;
    top:20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside .nav-togler span {
    height: 2px;
    width: 18px;
    background-color: var(--skin-color);
    display: inline-block;
    position: relative;
}

.aside .nav-togler span::before {
    content: "";
    height: 2px;
    width: 18px;
    background-color: var(--skin-color);
    position: absolute;
    top:-6px;
    left: 0px;
}

.aside .nav-togler span::after {
    content: "";
    height: 2px;
    width: 18px;
    background-color: var(--skin-color);
    position: absolute;
    top:6px;
    left: 0px;
}

/*home*/
.home {
    min-height: 100vh;
    display: flex;
    color:var(--text-black-900)
}

.home .home-info {
    text-align:justify;
    flex: 0 0 60%;
    max-width: 60%;
}

.home .home-img {
    height: 400px;
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position:relative;

}

.home .home-img img {
    width:400px;
    border-radius: 5px;
    margin: auto;
    height: 400px;
}

.home .home-img::after {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    right: 0px;
    bottom: -25px;
    /*background-color: blue;*/

}

.home .home-img::before {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top:10px solid var(--skin-color);
    border-left:10px solid var(--skin-color);
    position: absolute;
    top:-25px;
    left:0px;
    /*background-color: blue;*/

}

h3.hello {
    font-size: 28px;
    margin: 15px 0px;
}

h3.hello span {
    font-family:'Cliker Script', cursive;
    font-size:30px;
    font-weight: 700;
    color:var(--skin-color)
}

h3.my-profession {
    font-size: 30px;
    margin:15px 0px;
}

.typing {
    color:var(--skin-color);
}

.home-info p {
    margin-bottom: 70px;
    font-size:20px;
    color:var(--text-black-700);
}

.about .about-content {
    flex:0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .about-text h3 span {
    color: var(--skin-color);
}

.about .about-content .about-text p {
    font-size: 16px;
    line-height: 25px;
    color:var(--text-black-700);
}

.about .about-content .personal-info {
    flex:0 0 60%;
    max-width:60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .about-content .personal-info .info-item {
    flex:  0 0 50%;
    max-width:50%
}

.about .about-content .personal-info .info-item p {
    font-weight: 600;
    padding: 10px 0px;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .personal-info .info-item p span {
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}

.about .about-content .personal-info .buttons {
    margin-top: 30px;
}

.about .about-content .personal-info .buttons .btn{
    margin-right: 15px;
    margin-top: 10px;
}

.about .about-content .skills {
    flex: 0 0 40%;
    max-width: 40%;
}

.about .about-content .skills .skill-item {
    background-color: #eee;
    flex: 0 0 100%;
    margin-bottom: 25px;;
}

.about .about-content .skills .skill-item h5 {
    line-height: 40px;
    font-weight: 600;
    font-size:16px;
    color:var(--text-black-900);
    text-transform: capitalize;
}

.about .about-content .skills .skill-item .progress {
 background-color: var(--bg-black-50);   
 height: 7px;
 border-radius: 4px;
 width: 100% ;
 position: relative;
}

.about .about-content .skills .skill-item .progress .progress-in {
    position: absolute;
    left:0px;
    top:0px;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color);
}

.about .about-content .skills .skill-item .skill-percent {
    position: absolute;
    right: 0;
    color:var(--text-black-900);
    top:-40px;
    font-weight: 400;
    line-height: 40px;
}

.about .about-content .education ,
.about .about-content .experience

{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}

.about .about-content .experience {
    background-color:royalblue;
}

.about .about-content h3.title {
    font-size:24px;
    margin-bottom: 30px;
    font-weight: 700;
    color:var(--text-black-900)
}

