* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    display: inline-block;
    padding: 20px;
    margin:10px;
    background-color: #eee;
    border-radius: 40px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 2s;
    transition-delay:200ms;
    transition-timing-function: ease-out;
}

a:hover {
    background-color: lightgreen;
}

.container div {
    height: 50px;
    width: 0px;
    background-color: #999;
    margin: 10px;
    transition: all;
    transition-duration: 1s;
    transition-delay: 200ms;
}

.container:hover div:nth-child(1){
    background-color: firebrick;
    width: 100px;
    transition: 1s background-color ease-in-out;
}

.container:hover div:nth-child(2){
    background-color: violet;
    width: 100px;
    transition-timing-function: steps(3);
}

.container:hover div:nth-child(3){
    background-color: rebeccapurple;
    width: 100px;
    transition-delay: 400ms;
    transition-duration: 1s;
    transition-timing-function:cubic-bezier(34,-54,4,345);
}

.container:hover div:nth-child(3) {
    background-color: teal;
    color: black;
    border-radius: 40px;
    padding: 10px;
    transition: 1s background-color ease-in-out, 2s color ease-in, 1.5s border-radious ease-out;
} 

.container:hover div:nth-child(4) {
    background-color: thistle;
    border-radius: 50%;
    border: 1px solid black;
    padding: 10px;
    width: 100px;
    transition: all 1s ease-in-out;
}