 .container {
    position: relative;
    width: 200px;
    height: 200px;
}

.box1 , .box2 {
    width: inherit;
    height: inherit;
    transition: 1s transform;
    backface-visibility: hidden;
    position: absolute;

}

.box1 {
    background-color: firebrick;   
    transform: rotateY(180deg);

}

.box2 {
    background-color: rebeccapurple;

}

.container:hover .box1 {
    transform: rotateY(0);
}

.container:hover .box2{
    transform: rotateY(180deg);
}

.skewBox {
    width: 200px;
    height: 200px;
    background-color: teal;
    transition: 1s transform ;
}

.skewBox:hover {
    transform: skew(90deg, 180deg);
}