* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}    

body {
    display: flex;
    flex-direction: row;
    line-height: 18px;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1c1e21;
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
    max-height:calc(100vh - 73px);
}

aside {
    height: min-content;
    padding: 8px 12px 0px;
    border-right: 1px solid rgb(219, 219, 219);
}

aside, .slidebarHeader{
    width: 244px;
}

aside .logoName {
    height: 73px;
    width: 220px;
    margin:0px 0px 19px;
    text-align: start;
    padding: 25px 12px 16px;
    line-height: 73px;
}

.logoName img {
    width: 103px;
    height: 29;
}

.slidebarHeader ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 244px;
    flex-grow: 1;
    text-align: center;
    height: 545px;
}

.slidebarHeader ul li {
    display: flex;
    align-items: center;
    width: 220px;
    height: 48px;
    padding: 12px;
    margin: 4px 0px 8px;
    text-align: left;
    font-size: 16px;
}

.slidebarHeader div.moreOptions {
    display: flex;
    align-items: stretch;
    width: 220px;
    height: 56px;
    padding: 12px;
    text-align: left;
    flex-grow: 1;
    margin: 8px 0px;
}

.slidebarHeader .moreOptions img {
    max-width: 24px;
    max-height: 24px;
    min-width: 24px;
    min-height: 24px; 
    overflow-y: visible;
}

.moreOptions a {
    padding: 0px 0px 0px 16px;
    text-decoration: none;
    color: #1c1e21;
    font-size: 16px;
    font-weight: 400px;
    overflow-y: hidden;
}

.slidebarHeader ul li i {    
    font-size: 20px;
}

.slidebarHeader ul li a {
    padding: 0px 0px 0px 16px;
    text-decoration: none;
    color: #1c1e21;
}

.slidebarHeader ul li img {
    max-width: 20px;
    max-height: 20px;
    min-width: 20px;
    min-height: 20px;
}

main {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    font-size: 14px;
    padding: 4px 131px 0px;
    scroll-behavior: smooth;
    overflow-y: auto;
}

main .container {
    margin-top: 10px;
    margin-right: 64px;
    max-width: 630px;
    display: flex;
    flex-direction: column;
}

.container .storyBox {
    width: 630px;
    height: 117px;
    padding: 16px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.storyBox button {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    width: 64px;
    height: 84px;
    padding: 0px 6px;
    background-color: transparent;
    border: none;
}

button .userInfo {
    height: 64px;
    width: 64px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.5s transform ease-in-out;
}

button .userInfo:hover {
    transform: scale(1.05);
}


.userInfo div.userName {
    width: 54px;
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.userInfo .imgBorder {
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background:
    radial-gradient(rgba(0,0,0,0.15) 40% , transparent 0),
    radial-gradient(white, 65%, transparent 0 ),
    linear-gradient(to top right, orange, deeppink);
    margin: 4px 0px 4px;
}

.userInfo img {
    max-width: 64px;
    max-height: 64px;
    min-height: 64px;
    min-width: 64px;
    position: relative;
    border-radius: 40px;
    object-fit: cover;
    clip-path: circle(42%);
}

.postContent {
    max-width: 630px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.postContent .postLine {
    width: 470px;
    margin-top: 10px;
    margin-bottom: 12px;
    padding-bottom: 20px!important;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(219,219,219);
}

.postLine .postHeader {
    height: 56px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: flex-start;
}

.postLine .postHeader .postPushTime {
    white-space: pre-line;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(115, 115, 115);
}

.postPushTime span {
    width: 18px;
    height: 5px;
    line-height: 18px;
    display: flex;
    font-weight: bolder;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.postLine .postHeader .imgBorder {
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background:
    radial-gradient(rgba(0,0,0,0.15) 40% , transparent 0),
    radial-gradient(white, 65%, transparent 0 ),
    linear-gradient(to top right, orange, deeppink);
    margin: 4px 0px 4px;
}

.postLine .postHeader .imgBorder img{
    max-width: 42px;
    max-height: 42px;
    min-height: 42px;
    min-width: 42px;
    position: relative;
    border-radius: 40px;
    object-fit: cover;
    clip-path: circle(42%);
}

.postLine img {
    padding: 8px;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.postBody {
    width: 470px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.postBody img.post {
    object-fit: contain;
    border-radius: 12px;
    max-width: 470px;
    height: auto;
}

.postfooter .interactions {
    margin-top: 4px;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 6px;
    column-gap: 1px;
}

.interactions .interactions_icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.interactions .interactions_icon i {
    font-size: 22px;
    text-align: center;
}

.interactions .interactions_icon i:nth-child(2) {
    min-width: 36px;
    min-height: 36px;
    max-width: 36px;
    max-height: 36px;   
}

.interactions .interactions_icon i:nth-child(3) {
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;  
}

.interactions .interactions_icon:nth-child(4) {
    margin-left: auto;
}

.interactions .interactions_icon i:nth-child(4) {
    min-width: 29px;
    min-height: 29px;
    max-width: 29px;
    max-height: 29px; 
}

.interactions .interactions_icon img {
    min-width: 38px;
    min-height: 38px;
    max-width: 38px;
    max-height: 38px;
}

.postfooter .favCount{
    display: inline-flex;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 8px;
    column-gap: 8px;
    margin-left: 8px; 
}

.postfooter .commentBox {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 8px;
    column-gap: 5px;
}

.commentBox  .userComment{
    height: 18px;
    margin-bottom: 8px;
}

.userComment span {
    font-size: 14px;
    font-weight: 600;
}

.commentBox .commentCount {
    height: 18px;
    margin-bottom: 8px;
}

.commentCount a {
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    color: rgb(115, 115, 115);
}

.commentBox input {
    border: none;
    outline: none;
    width: 100%;
    height: 18px;
}

main .recommendUsers {
    max-width: 319px;
    min-width: 319px;
    height: 370px;
    margin-top: 30px;
    position: sticky;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.recommendUsers .userProfil {
    height: 56px;
    width: 100%;
    display: flex;
    column-gap: 15px;
    margin: 30px 0px 10px;
    justify-content: space-between;
}

.recommendUsers .userProfil img {
    height: 56px;
    width: 56px;
    border-radius: 50%;
}

.recommendUsers .userProfil .userInfoName {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    row-gap: 2px;
}

.userProfil a {
    width: 120px;
    height: 56px;
    color: rgb(0, 149,246);
    line-height: 56px;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    text-align: end;
}

.mentionName {
    word-break: break-word;
    font-weight: 600;
    overflow-y: visible;
    font-size: 14px;
    line-height: 18px;
}

.userInfoName .legalName {
    color:rgb(115, 115, 115);
    font-weight: 400;
    line-height: 18px;
}

.recommendUsers .recommendTitle {
    padding: 4px 16px 4px 16px;
    display: flex;
    justify-content: space-between;
    width: 351px;
    height: 19px;
    align-items: center;
}

.recommendTitle .recommend4you {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: rgb(115, 115, 115);
}

.recommendTitle .seeAllOptions a {
    font-size: 12px;
    line-height: 16px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-decoration: none;
}

.recommendUsersBox {
    padding: 8px 0px;
}

.recommendUsersBox .recommendUser {
    width: 351px;
    height: 50px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recommendUser .userImage {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userImage img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.recommendUserInfo .recommendUserName {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

.recommendUserInfo .mutualFriend {
    font-weight: 400;
    font-size: 12px;
    color: rgb(115, 115, 115);
    white-space: nowrap;
    font-weight: 400;
}

.recommendUser div a {
    text-decoration: none;
    color: blue;
    font-size: 12px;
    font-weight: 600;
    color: rgb(0, 149,246);
}