img {
    margin:20px;
    transition: 1s filter ease;
}

img:hover {
    filter:grayscale(60%) ;
}

img:nth-child(2) {
    filter: brightness(1.22) contrast(0.3);
}

img:nth-child(3) {
    filter: opacity(.7);
}