* {
    margin: 0px;
    padding: 0px;
}

.container {
    background-color: #ccc;
    display:flex;
    height: 250px;
    width: 800px;
    flex-direction: column;
}

.container .box {
    background-color: #fff;
    width: 50px;
    height: 50px;
}

