* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.container {
    background-color: #ddd;
    display:flex;
    width: 200px;
    height: 200px;
    flex-wrap: wrap-reverse;
    flex-direction: row;

}

.container .box {
    background-color: #fff;
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

