* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.container {
    background-color: #ddd;
    display:flex;
    flex-direction:column;
    height: 600px;
    justify-content: end;
    align-items: stretch;
}

.container .box {
    background-color: #fff;
}
