* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

input, label {
    margin: 10px 0px 5px 10px;
}


.box {
    display:block;
    background-color: lightblue;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 2px dotted black;
    transform-origin: bottom left;
}

#isTurn:checked + .box {
    transform:rotate(30deg)
}