* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #eee;
    align-items: center;
    justify-content: space-between;
    padding:0px 20px;
    flex-shrink: 0;

}

header .pageName {
    display: flex;
    align-items: center;
    font-size: 15px;   
    column-gap: 5px;
}

header h2 {
    cursor: pointer;
}

header .pageName p {
    font-size: smaller;
    color: #999;
    align-self: center;
    cursor: pointer;
}

header input {
    outline: none;
    width: 600px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid #eee;
    padding: 0px 10px;
}

header .userSection {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

header .userSection img {
    height: 30px;
    width: 30px;
    border-radius: 40px;
    cursor: pointer;
}

header .userSection p {
    cursor: pointer;
}

main {
    background-color: lightgray;
    display: flex ;
    flex-grow: 1;
}

main aside {
    width: 150px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 110px);
    overflow: auto;
}

aside hr {
    margin: 10px 0px;
}

aside h4 {
    cursor: pointer;
    flex-wrap: nowrap;
    line-height: 18px;
    margin-bottom: 20px;
}

aside .btnGroup {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: auto;
    flex-grow: 1;
}

.btnGroup button {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
}

main .container {
    width: calc(100% - 150px);
    background-color: #999;
    color: #000;
    line-height: 30px;
    overflow: auto;
    height: calc(100vh - 110px);
    word-break: break-all;
}

.container p {
    text-indent: 50px;
    margin: 15px 10px;
}

footer {
    background-color: #eee;
    height: 50px;
    width: 100%;
    margin-bottom: auto;
    display: flex;
    column-gap: 25px;
    align-items: center;
    padding: 5px 20px;
    flex-shrink: 0;
}

footer a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

footer p {
    margin-left: auto;
}